body{
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 400;
    background-color: #FBFBFB;
}

.custom-container{
    margin-left: 5%;
    margin-right: 5%;
}

.bgcolor.scrolled {
    background-color: #FFFFFF;
    transition: background 200ms linear;
    height: 12%;
}

.navbar-brand{
    font-size: 24px;
    font-weight: 600;
    color: #000000;
}

.blog{
    text-decoration: none;
    color: #0A0A0B;
    font-size: 14px;
}

.btn-get{
    height: 41px;
    width: 177px;
    background-color: #5452F6;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    font-weight: 500;
}

.blog-content > p{
    font-weight: 600;
    letter-spacing: 0.02em;
    color: #5452F6;
    text-transform: uppercase;
    font-size: 14px;
}

.blog-content > h3{
    font-size: 32px;
    color: #0A0A0B;
    font-weight: 600;
}

.blog-content > span{
    color: #0A0A0B;
}

.blog-content > a{
    background-color: transparent;
    border: 1px solid #5452F6;
    border-radius: 8px;
    height: 41px;
    width: 141px;
    font-weight: 500;
    font-size: 14px;
    color: #5452F6;
    text-decoration: none;
}

.blog-content-list > p{
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #5452F6;
    text-transform: uppercase;
}

.blog-content-list > h4{
    font-size: 20px;
    color: #0A0A0B;
    font-weight: 600;
}

.blog-content-list > a{
    background-color: transparent;
    border: 1px solid #5452F6;
    border-radius: 8px;
    height: 41px;
    width: 141px;
    font-weight: 500;
    font-size: 14px;
    color: #5452F6;
    text-decoration: none;
}

.more{
    color: #5452F6;
}

.last-sec{
    background-color: #5452F6;
    position: relative;
}

.card{
    background-color: #F8F8F8;
    box-shadow: 0px 4px 24px 1px rgba(0, 0, 0, 0.12);
    border-radius: 16px;
    border: none;
    z-index: 2;
}

.card > h3{
    font-weight: 700;
    font-size: 32px;
    color: #0A0A0B;
}

.card > p{
    letter-spacing: 0.004em;
    color: #0A0A0B;
}

.card > button{
    border: 1px solid #5452F6;
    border-radius: 8px;
    color: #5452F6;
    font-size: 18px;
    font-weight: 500;
    height: 58px;
    width: 272px;
    text-decoration: none;
    margin-top: 30%;
    background-color: transparent;
}

.footer{
    position: absolute;
    bottom: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) -55.47%, rgba(255, 255, 255, 0.06) 129.69%);
    backdrop-filter: blur(64px);
    padding-left: 5%;
    padding-right: 5%;
    height: 50px;
}

.footer > a{
    text-decoration: none;
    color: #FFFFFF;
}

.left-footer-svg{
    position: absolute;
    bottom: 0;
    left: 0;
}

.right-footer-svg{
    position: absolute;
    bottom: 0;
    right: 0;
}

.cusmt-5{
    margin-top: 3%;
}

.custommt-5{
    margin-top: 0%;
}

@media only screen and (max-width: 600px) {
    .blog-content-list > a{
        margin-bottom: 15%;
    }
    .custommt-5{
        margin-top: 0%;
        margin-bottom: 0% !important
    }
    .card > h3{
        font-size: 22px;
    }
    .card > p{
        font-size: 12px;
    }
    .card > button{
        font-size: 14px;
        height: 45px;
        width: 250px;
        margin-top: 25%;
    }
    .card{
        margin-bottom: 7%;
        margin-left: 8%;
        margin-right: 8%;
    }
    .footer{
        height: 40px;
    }
    .right-footer-svg{
        display: none;
    }
    .blog-content > h3{
        font-size: 24px;
    }
    .blog-content > span{
        font-size: 12px;
    }
    .blog-content > a{
        height: 35px;
        width: 130px;
        font-size: 12px;
    }
    .custommt-5{
        margin-top: 4%;
    }
    .cusmt-5{
        margin-top: 8%
    }
}